body{
    background-color: white;
    margin-bottom: 0;
}

.jumbotron{
    background-color: rgba(185, 35, 19, 0.849);
    color: white;
}

.row{
    background-color: white;
}

.tanya{
    width: fit-content;
    height: auto;
    margin: 1em;
}

#author{
    background-color: white;
}

.card-body{
    margin-bottom: 0;
}

#about-class{
    background-color: white;
    margin-bottom: 6em;
}

#about-card{
    margin:0;
}

footer{
    background-color: rgba(185, 35, 19, 0.849);
    padding-top: 2em;
    margin-top: 2em;
    padding-bottom: 1em;
    border-top:solid salmon 4px;
}

.carousel img{
    height: auto;
    width: 50%;
}

.button-1{
    height: 2em;
    padding: 0 .25em;
    font-weight: 700;
    background-color: white;
    color: rgba(185, 35, 19, 0.849);
    border-radius: 6px
}

.input-1{
    height: 2em;
    border-radius: 6px;
}

.iframe{
    flex: auto;
    width: 101%;
    height: 275px;
    margin-top: .5em;
}

.img-fluid{
    margin: .5em;
}

a{
    font-weight: bold;
}


