body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

.container{
    width:80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin:0;
    padding:0;
    list-style-type: none;
}
  
.button_1{
    height:38px;
    background:#ffffff;
    border:0;
    padding-left: 20px;
    padding-right:20px;
    color:#000000;
}

/* Header **/

header{
    background: #659dbd;
    color: #ffffff;
    padding: top 30px;
    min-height: 70px;
    text-align: center;
}

header a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

#site-name{
    float: left;
    margin-bottom: 20px;
}

#site-name h1{
    margin: 0;
}

header nav{
    float:right;
    margin-top: 10px;
    position: relative;
    top: 42px;
}
/* Website Page 1, Home */
/* Showcase */

#showcase{
    min-height: 400px;
    background: linear-gradient( rgba(0,0,0,0.7), rgba(0, 0, 0, 0.7) ),url(../website-pictures/schoen-place-overview.jpg) no-repeat;
    background-size: 100%;
    background-position:30% 10%;
    text-align:left;
    color:#ffffff;
}

#showcase h1{
    margin-top:80px;
    font-size:45px;
    margin-bottom:10px;
}

#showcase p{
    font-size:15px;
}

/* About Me */

#about-me img{
    margin-right: 40px;
    margin-bottom: 50px;
    float: left;
}

#about-me ul{
    margin-top: 20px;
}

/* Newsletter */

#newsletter{
    padding:10px;
    color:#ffffff;
    background:#659dbd
}
  
#newsletter h1{
    float:left;
}
  
#newsletter form {
    float:right;
    margin-top:15px;
}
  
#newsletter input[type="email"]{
    padding:4px;
    height:28px;
    width:250px;
}

footer{
    background: #000000;
    color: #ffffff;
    padding: 5px 10px;
    text-align: center;
}

/* images */

#boat {
    height: 300px;
    width:auto;
}

#rafting{
    height: 300px;
    width: auto;
}

#fish{
    height: 300px;
    width: auto;
}

#concert{
    height: 300px;
    width: auto;
}

#concert2{
    height: 35%;
    width: auto;
}

#hungrys{
    height:auto;
    width:100%;
}

#dairy{
    height:auto;
    width:100%;
}

#richardsons{
    height:auto;
    width:100%;
}

#pontillos{
    height:auto;
    width:100%;
}

#lock32{
    height:auto;
    width:100%;
}

/* Website Page 3, Places to Eat */
.carousel-inner img {
    width: 100%;
    height: 500px;
}

h2{
    text-align:center;
}
    

ul.mentions {
    list-style-type: none;
    margin: 0; padding: 0;
}
